/* Variables and Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  margin: 70px 30px;
  background-color: #E5E2E1;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  position: relative;
  width: auto;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
}

header h1 {
  background-color: #3185FC;
  background-image: linear-gradient(315deg, #3185FC 0%, #4ebeff 74%);
  color: white;
  border-radius: 25px;
  padding: 9px 6px 9px 6px;
  text-align: center;
  font-weight: 700;
  font-size: 13vw;
  letter-spacing: 4px;
  font-family: 'Changa One', cursive;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main {
  margin-top: 20px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  border-radius: 25px;
}

.todo_list {
  position: relative;
  margin-top: 15px;
  height: 100%;
  width: auto;
  padding: 5px 0 40px 0;
}

.todo {
  margin-bottom: 20px;
  background: white;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

form {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: auto;
  border-radius: 25px;
}

form .todo_input {
  all: unset;
  background-color: white;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 10px 0 10px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
  border-radius: 25px;
  position: relative;
  font-size: calc(1rem + 1vw);
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form .todo_button {
  all: unset;
  color: #3185FC;
  font-size: calc(1.875rem + 1vw);
  position: absolute;
  right: 15px;
  top: 9px;
}

::-webkit-input-placeholder {
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #A8A8A8;
  font-family: 'Changa One', cursive;
}

:-ms-input-placeholder {
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #A8A8A8;
  font-family: 'Changa One', cursive;
}

::-ms-input-placeholder {
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #A8A8A8;
  font-family: 'Changa One', cursive;
}

::placeholder {
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #A8A8A8;
  font-family: 'Changa One', cursive;
}

.todo {
  list-style-type: none;
  background-color: transparent;
  border-bottom: solid 4px #E5E2E1;
  margin: 0px 20px 0 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  width: auto;
}

.todo li {
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-top: 15px;
}

.todo .complete_btn {
  all: unset;
  color: #3185FC;
  font-size: calc(1.6rem + 1vw);
  position: absolute;
}

.todo .complete_btn_filled {
  all: unset;
  color: #3185FC;
  font-size: calc(1.6rem + 1vw);
  position: absolute;
  display: none;
}

.todo .delete_todo {
  all: unset;
  position: absolute;
  left: calc(30px + 1vw);
  color: #e91814;
  font-size: calc(1.6rem + 1vw);
  display: none;
}

.trash_can {
  position: relative;
  width: auto;
  margin-top: 35px;
}

.trash_can .todo_delete {
  all: unset;
  position: absolute;
  bottom: 107px;
  left: 20px;
}

.trash_can .todo_delete i {
  font-size: calc(1.875rem + 1vw);
  color: #3185FC;
}

.todo_item {
  position: relative;
  bottom: 8px;
  font-size: auto;
  font-weight: 600;
  font-size: calc(1.3rem + 1vw);
}

.complete_todo {
  color: #A8A8A8;
}

footer {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer i {
  font-size: calc(2.1rem + 1vw);
  color: #3185FC;
}

footer i:hover {
  font-size: calc(2.6rem + 1vw);
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}
/*# sourceMappingURL=style.css.map */